[
 {
   uc,
   [{http_port, 8080},
    {http_listener_count, 10},
    {check_interval, 30000},
    {live_check_interval, 5000},
    {db,
     [{host, "db"},
      {name, "postgres"},
      {table, "url_checker_url"},
      {user, "postgres"},
      {password, "postgres"},
      {first_reconnect_interval, 100},
      {max_reconnect_interval, 30000}]
    }
   ]
 },
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers,
     [
      {lager_console_backend,
       [debug,
        {lager_default_formatter,
         [
          color, time, " [", severity, "]",
          " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
          message, "\e[0m\n"
         ]
        }
       ]
      }
     ]
    }
   ]
 }
].
